body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: pink;
    color: black;
    
}

header {
    background: palevioletred;
    color:black;
    padding: 10px 0;
    text-align: center;

}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li a {
    color: white;
    text-decoration: none;

}
nav ul li a:hover {
    text-decoration: underline;

}
main {
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 10px;
}
h1, h2 {
    color: darkred;
}
h2 {
    margin-top: 5px;

}
p {
    margin: 10px 0;

}
ul{
    margin: 10px 0;
    padding-left: 20px;

}
footer{
    color: white;
    text-decoration: none;
    background: palevioletred;
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0%;

}
footer a:hover {
    text-decoration: underline;}

footer a {
    color: white;
    text-decoration: none;
}

/*form style*/
form {
    background: lightpink;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 20px, 5px;

}
form label {
    display: block;
    margin: 10px 0 5px;

}
form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
form input[type="sumbit"] {
    background: palevioletred;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;


}
form input[type="sumbit"] {
    background: darkcyan;
}
/*additions*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: pink;
    color: black;
    min-height: auto;
    display: flex;
    flex-direction: column;
}
/*header*/
header{
    background: palevioletred;
    box-shadow: 0 4px 8px;
}
h1{
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link:hover{
    background-color: plum;
    border-radius: 5px;
}
/*main content*/
main{
    flex: 1;
    padding: 5rem 0;
}
.container{
    max-width: 1200px;
}
/*sections*/
section{
    margin-bottom: 2rem;
    padding: 3rem;
    background:whitesmoke;
    border-radius: 10px;
    
}
section:hover{
    transform: translateY(-5px);
}
h2 {
    color: darkred;
    margin-bottom: 1rem;
    font-size: 1.8rem;

}
/*multimedia*/
img,video,audio{
    max-width: 100%;

}
footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.logo{
    max-width: 50px;
    height: auto;
    border-radius: 20px;

}
.slogan{
    font-size: 1rem;
    font-style: italic;
    color: lightpink;
    margin: 0.5rem 0 0 0;
    line-height: 1.2;
    display: block;
}
